a {
    text-align: center;
    margin-left: 49%;
}

.lewy-panel, .prawy-panel {
    float:left;
    width:47%;
    background-color: #465775;
    height:55vh;
    padding: 10px;
    border-radius: 10px;
}

.lewy-panel , .prawy-panel {
    margin-left: 1%;
}

.zdjecie img {
    width:400px;
    height: 400px;
}

.galeria img {
    height: 75px;
    width: 50px;
    margin:2.5px;
}

.galeria {
    width:60%;
}

.galeria button {
    background-color: #465775;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    border:0px;
}

.prawy-panel .nazwa {
    font-size:75px;
}

.prawy-panel .opis {
    width: 90%;
    margin-left: 5%;
    height:200px;
}

.prawy-panel .cena {
    color:red;
    font-size: 50px;
    text-align: center;
    margin-right:20%;
}

.prawy-panel .dodatki button {
    margin-left:10%;
}