.panel {
    background-color: #465775;
    width:50vw;
    height: 32vh;
    position: relative;
    top:3vh;
    left:25vw;
    border-radius: 15px;
    border:1px solid #465775;
}

.panel a {
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}