a {
    text-align: center;
    margin-left: 50%;
}

.koszyk {
    background-color: #465775;
    width: 85%;
    margin-left: 7.5%;
    border-radius: 15px;
}

.koszyk .produkt {
    margin: 10px;
    padding: 10px;
    background-color: #465775;
    height: 7.5vh;
}

.koszyk .produkt .zdjecie,
.koszyk .produkt .dane,
.koszyk .produkt .ilosc,
.koszyk .produkt .usun {
    float: left;
}

.koszyk .produkt .zdjecie img {
    width: 75px;
    height: 75px;
}

.koszyk .produkt .dane {
    margin-left: 10vw;
    font-size: 20px;
    width: 200px;
}

.koszyk .produkt .ilosc {
    margin-left: 45vw;
    text-align: center;
}

.koszyk .produkt .usun {
    position: relative;
    top: 3.5vh;
    left: 5vw;
}

.koszyk .produkt .usun button {
    width: 75px;
    height: 35px;
}

.cenaFinalna {
    color: red;
    font-size: 30px;
    position: relative;
    right: 1vw;
}

button {
    border-radius: 0px;
    width: 40px;
    height: 32px;
}