.logo-strony {
    width: 100%;
    max-width: 5vw;
    margin-left: 5vw;
    margin-right: 35vw;
}

.pasek-glowny {
    background-color: #465775;
    display: flex;
    align-items: center;
    height: 11vh;
    width: 100vw;
    position: absolute;
}

.wyszukiwarka {
    width: 40vw;
    height: 3vh;
}

.szukaj {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 40%;
    margin-right: 20vw;
}

.konto,
.koszyk,
.admin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
}

.koszyk {
    margin-left: 2vw;
    margin-right: 5vw;
}

.konto img,
.koszyk img,
.admin img {
    width: 100%;
}

.admin {
    margin-right: 1vw;
}

.szukaj img {
    width: 150%;
    height: 160%;
}

.pole-kategorii {
    width: 40vw;
    height: 20vh;
    background-color: #465775;
    position: relative;
    left: 30vw;
    top: 15vh;
    border-radius: 10px;
    overflow-y: auto;
}

.pole-kategorii .kategoria {
    float: left;
    width: 33%;
    text-align: center;
}

.pole-kategorii .kategoria img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    padding: 10px;
}

.produkty {
    width: 95vw;
    position: relative;
    top: 20vh;
    left: 2.5vw;
    background-color: #465775;
    border-radius: 10px;
}

.produkty .produkt {
    background-color: #465775;
    width: 25%;
    float: left;
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
    border-radius: 10px;
}

.produkty .produkt .zdjecie,
.produkty .produkt .info {
    float: left;
    margin-left: 10px;
    padding: 10px;
}

.produkty .produkt .info {
    position: relative;
    top: 5vh;
    font-size:1vw;
}

.produkty .produkt img {
    width: 150px;
    height: 150px;
}