.kolumna-lewa,
.kolumna-prawa {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.7vw;
}

.kolumna-lewa {
    margin-top: 2vh;
    margin-left: 2.5vw;
    margin-bottom: 10vh;
}

.kolumna-lewa input {
    width: 100%;
    max-width: 15vw;
    border-color: #465775;
}

.kolumna-prawa input {
    width: 100%;
    max-width: 15vw;
    border-color: #465775;
}

.kolumna-prawa {
    margin-top: 2%;
    margin-left: 4vw;
    margin-bottom: 10vh;
}